apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      imagePullSecrets:
        - name: harbor-secret
      containers:
        - name: demo-app
          image: r.badshah.io/manojdmd45-project/demo-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
